@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/style.css">
<div class="text-center">
    <div class="register">
        <partial name="Register"></partial>
    </div>
    <div class="login">
        <partial name="Login"></partial>
    </div>
</div>
