.reggy{
    margin-top:15%;
    width: 100%;
    display:inline-block;
}
.loggy{
    margin-top: 45%;
    width: 100%;
    display:inline-block;
}
.reggy input, .loggy input{
    margin: 1% 0;
}
.reggy button, .reggy button{
    margin: 15px 0;
}
.error{
    color:red;
}
.guest_list{
    margin-left: 30px;
}
.login
{   
    margin-top:5%;
    display:inline-block;
    width:45%;
    vertical-align:top;
}
.register
{
    margin-right:9%;
    margin-top: 5%;
    display: inline-block;
    width:45%;
}
.addWedding
{
    width: 60%;
    display: inline-block;
    margin-left:19%;
}